<div class="container">
<p class="mx-auto text-center text-gray-500 dark:text-gray-400">Below is a few, but not all of the projects I work on (or have worked on).</p>
  <div class="row mb-5">
    <div class="col-sm-12 animate__animated animate__fadeInLeft">
      <div class="box" *ngFor= "let project of projects">
        <img class="object-fill" src="{{project.image}}"/>
        <!-- title -->
        <h1 class="text-center title">{{project.name}}</h1>
        <!-- tags/badges -->
        <div class="row">
          <div class="col-12 overflow-auto">
            <div class="d-flex flex-wrap gap-1 justify-content-center mt-1 mb-1">
              <span class="badge bg-secondary mx-1 badge-hover" *ngFor="let tag of project.tags">{{tag.name}}</span>
            </div>
            <p class="multi_lines_text">{{project.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
