<div class="container">
  <div class="row">
    <div class="col-sm-12 animate__animated animate__fadeInLeft">
      <div class="box">
        <img src="/assets/monolith.png"/>
        
        <!-- title -->
        <h1 class="text-center title">Monolith Roleplay</h1>
        <!-- tags/badges -->
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center mt-2 mb-1">
              <span class="badge bg-secondary mx-1 badge-hover">developer</span>
              <span class="badge bg-secondary mx-1 badge-hover">garry's mod</span>
              <span class="badge bg-secondary mx-1 badge-hover">2016-2017</span>
              <span class="badge bg-secondary mx-1 badge-hover">2019-current</span>
              <span class="badge bg-secondary mx-1 badge-hover">thriving ventures</span>
            </div>
          </div>
        </div>
        <p>Ground up, coded from scratch, we have created a uniquely interactive and extensive City RP experience in Garrys Mod. Our vision is about replacing the status quo of outdated, messy and stale RP gamemodes with a game experience that is both comprehensive and coherent, dynamic and purposeful, and with attributes of quality and genuine craftsmanship to each of its features.</p>
      </div>
    </div>
  </div>
</div>
