<div class="container">
  <div class="row">
    <div class="col-sm-12 animate__animated animate__fadeInLeft">
      <div class="box" *ngFor= "let project of projects">
        <img src="{{project.image}}"/>
        <!-- title -->
        <h1 class="text-center title">{{project.name}}</h1>
        <!-- tags/badges -->
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center mt-2 mb-1">
              <span class="badge bg-secondary mx-1 badge-hover" *ngFor="let tag of project.tags">{{tag.name}}</span>
            </div>
          </div>
        </div>
        <p class="multi_lines_text" [innerHtml]="project.description"></p>
      </div>
    </div>
  </div>
</div>
