
<div class="text-center">
  <h1 class="animate__animated animate__fadeInDown animate__delay-1s">My Addons</h1>
</div>

<div class="addon-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 mb-2 animate__animated animate__fadeInDown" *ngFor= "let addon of addons">
        <div class="card">
          <div class="img1"><img src={{addon.images.bigspot}} alt="image"></div>
          <div class="main-text">
            <div class="info">
              <a class="btn btn-primary" href={{addon.route}} target="_blank">Learn More</a>
              <div class="row">
                <div class="col-12 text-bubble mt-1">
                  <p> {{ addon.createdAt | timeago }} - {{addon.ratingAvg | number: '1.'}}/5 stars</p>
                </div>
              </div>
            </div>
            <h2>{{ addon.name }}</h2>
            <p>{{ addon.shortDescription }}
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-2 animate__animated animate__fadeInDown" *ngFor= "let workshop of workshopsAddon">
        <div class="card">
          <div class="img1"><img src={{workshop.image}} alt="image"></div>
          <div class="main-text">
            <div class="info">
              <a class="btn btn-primary" href={{workshop.url}} target="_blank">Learn More</a>
            </div>
            <h2>{{ workshop.name }}</h2>
            <p>{{ workshop.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>