@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

html{
    scroll-behavior: smooth;
    height: 100%;
}

body {
    --tw-bg-opacity: 1;
    background-color:rgba(17,24,39,var(--tw-bg-opacity)) !important;
    height: 100%;
}

h1 {
    font-family: "Poppins";
    font-size: bold;
    color: white;
}

h2 {
    font-family: "Poppins";
    color: white; 
    font-size: normal;
}