img.circle {
    width: 128px;
    height: 128px;
    overflow: hidden;
    border-radius: 50%;
    transition: ease-in-out 0.3s;
}

img.circle:hover{
    width: 135px;
    height: 135px;
    transition: ease-in-out 0.3s;
}

a i.logo {
    color: #4E5D94;
    transition: 0.5s all;
}

a i:hover {
    color:white;
    transition: 0.5s all;
}

h1 {
    font-family: "Poppins";
    font-size: bold;
    color: white;
}

h2 {
    font-family: "Poppins";
    color: white; 
    font-size: normal;
}